html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.centrar-contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.container-cuadricula {
    width: 640px;
    height: 640px;
    display: grid;
    /*grid-template-columns: repeat(16, 20px);
    grid-template-rows: repeat(16, 20px);*/
}

.item-cuadricula {
    border: thin solid #222;
}

.color-black{
    background-color: black;
}